/* 전체 설정 */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 컨테이너 스타일 */
.container {
    text-align: center;
    width: 300px;
}

/* 로고 이미지 */
.logo img {
    width: 150px;
    margin-bottom: 20px;
}

/* 제목과 설명 */
.title h1 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
    color: #000;
}

.title h2 {
    font-size: 24px;
    margin: 5px 0;
    color: #333;
}

.title p {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
}

/* 버튼 스타일 */
.buttons {
    margin-top: 20px;
}

.btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #6e0f18;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #5a0c14;
}
